.test {
    display: flex;
    border-bottom: 1px solid #888
}
.test__field {
    flex: 1;
    text-align: center;
}

code {
    white-space: pre;
}

.filter-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}