@import "base/reset";
@import "base/variables";
@import "base/mixins";
@import "base/base";

@import "atoms/text";
@import "atoms/lists";
@import "atoms/link";
@import "atoms/button";
@import "atoms/image";
@import "atoms/blockquote";
@import "atoms/label";
@import "atoms/input";
@import "atoms/textarea";

@import "components/test-list";

code {
  white-space: pre;
}

.filter-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}