@mixin row(){
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;

  & > * {
    flex: 1;
    text-align: center;
  }
}

.test-list {

  .test-headers {
    @include row();

    .test-header {
      font-weight: bold;
    }
  }

  .test {
    @include row();

    &__field-group {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__field {
      &--date {
        &::after {
          content: "-";
          padding: 0 5px;
        }
      }
    }
  }

}