@mixin row(){
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;

  & > * {
    flex: 1;
    text-align: center;
  }
}

.test-headers {
  @include row();
  align-items: flex-start;

  .test-header {
    font-weight: bold;
    font-size: 1.1rem;

    &::after {
      display: block;
      font-size: 0.9rem;
      font-style: italic;
    }

    &--unit-ms {
      &::after {
        content: "(ms)";
      }
    }
    &--unit-mbps {
      &::after {
        content: "(Mbps)";
      }
    }
  }
}


.test-list {
  padding: 0 10px;

  .test {
    @include row();

    &__field-group {
      display: flex;
      justify-content: center;
      align-items: center;

      &--timestamp {
        flex-direction: column-reverse;
      }
    }
  }

}