/* Variables */

// Colours

// Typography
$primaryFontSize: 1rem;
$mobileTextScaling: 1.2; // how to scale text size on mobile

$heading-sizes: (
        "1": 3rem,
        "2": 2.2rem,
        "3": 1.4rem,
        "4": 1.2rem,
        "5": 1.2rem,
        "6": 1rem
);

// Layout