{% extends "layout.html" %}

{% block content %}
<h1>Network Monitor</h1>

<section class="section">
    <form id="filterForm" action="/" method="get" class="filter-form">
        <div class="filter-form__section">
            <div class="filter-form__item">
                <label for="startDate">Start Date:</label>
                <input type="date" id="startDate" name="startDate" value="{{ filterValues.startDate }}">
            </div>
            <div class="filter-form__item">
                <label for="startTime">Start Time:</label>
                <input type="time" id="startTime" name="startTime" value="{{ filterValues.startTime }}">
            </div>
        </div>
        <div class="filter-form__section">
            <div class="filter-form__item">
                <label for="endDate">End Date:</label>
                <input type="date" id="endDate" name="endDate" value="{{ filterValues.endDate }}">
            </div>
            <div class="filter-form__item">
                <label for="endTime">End Time:</label>
                <input type="time" id="endTime" name="endTime" value="{{ filterValues.endTime }}">
            </div>
        </div>
        <div class="filter-form__item filter-form__section--submit">
            <button id="filterReset" value="filterReset">Reset All</button>
            <button id="filterSubmit" type="submit" value="filterSubmit">Filter</button>
        </div>
    </form>
</section>

<section class="graph-section">
    <div id="testGraph"></div>
</section>

<section class="section">
    <div class="test-headers">
        <p class="test-header">Timestamp</p>
        <p class="test-header test-header--unit-ms">Ping</p>
        <p class="test-header test-header--unit-mbps">Download</p>
        <p class="test-header test-header--unit-mbps">Upload</p>
    </div>
    <div class="test-list">
    </div>
</section>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script src="/js/graphs.js"></script>

{% endblock %}