{% extends "layout.html" %}

{% block content %}
<h1>Internet Monitor</h1>

<form id="filterForm" action="/" method="get" class="filter-section">
    <div>
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate" value="{{ filterValues.startDate }}">
    </div>
    <div>
        <label for="startTime">Start Time:</label>
        <input type="time" id="startTime" name="startTime" value="{{ filterValues.startTime }}">
    </div>
    <p>&#8594;</p>
    <div>
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate" value="{{ filterValues.endDate }}">
    </div>
    <div>
        <label for="endTime">End Time:</label>
        <input type="time" id="endTime" name="endTime" value="{{ filterValues.endTime }}">
    </div>
    <div>
        <button id="filterReset" value="filterReset">Reset All</button>
        <button id="filterSubmit" type="submit" value="filterSubmit">Filter</button>
    </div>
</form>

<h2>Graphs (todo)</h2>
<h3>Download and Upload Speeds</h3>
<h3>Ping</h3>

<h2>Test List</h2>
<div id="test-list" class="test-list">
    {% for test in tests | reverse %}
        <div class="test">
            <p class="test__field test__field--date-time">{{ test.test_date }} - {{ test.test_time }}</p>
            <p class="test__field test__field--ping">{{ test.test_ping }}</p>
            <p class="test__field test__field--download">{{ test.test_download }}</p>
            <p class="test__field test__field--upload">{{ test.test_upload }}</p>
        </div>
    {% endfor %}
</div>

<script src="/js/filter-submit.js"></script>

{% endblock %}